{{>include/header }}

<div class="container">
    {{#question}}
    <h1>질문 {{id}}번</h1>
    <p>작성자: {{author.name}}</p>
    <p>작성일: {{formattedDate}}</p>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>{{title}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{text}}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/question}}
    <a class="btn btn-primary" href="/">메인 페이지</a>
</div>

{{>include/footer }}