{{>include/header }}

<div class="container">
    {{#question}}
    <div class="col-md-10 col-md-offset-1">
        <h1>{{title}}</h1>
        <p> 질문 {{id}}번 작성자: {{author.name}}</p>
        <p>작성일: {{formattedDate}}</p>
        <div id="content">{{{textBr}}}</div>
    </div>
    {{/question}}
    <div class="col-md-10 col-md-offset-1">
    <a class="btn btn-primary" href="/">메인 페이지</a>
    {{#owner}}
    <a class="btn btn-primary" href="/question/{{owner}}/updateForm">수정하기</a>
    {{/owner}}
    </div>
</div>

{{>include/footer }}