{{> include/header}}

<div class="container">
    <h1>질문하기</h1>
    <form action="/question/post" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input class="form-control" name="title" type="text" placeholder="제목">
        </div>
        <div class="form-group">
            <label for="question">내용</label>
            <textarea class="form-control" name="text" rows="5" placeholder="질문을 적어 주세요."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </form>
</div>

{{> include/footer}}