{{>include/header }}
<div class="container">
    <h1>Honux QnA</h1>
    {{#session-user}}
    <p>안녕하세요? {{name}} 님!</p>
    {{/session-user}}
    <p> 현재 {{num}} 명의 사용자와 {{qnum}}개의 질문이 있습니다.</p>

    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>순번</th><th>작성자</th> <th>제목</th> <th>작성일자</th>
                </tr>
                </thead>
                <tbody>
                {{#each questions}}
                <tr>
                    <th scope="row">{{id}}</th><td>{{author.name}}</td> <td>{{title}}</td></tid><td>{{dateCreated}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-primary" href="question/form">질문하기</a>
</div>

{{>include/footer }}